<!-- footer -->

<div class="container-fluid-footer">
  <div class="bottom-container" id="footer">
    <div class="social-icon">
      <a class="footer-social" href="https://github.com/" target="blank"><span class="fab fa-github fa-2x"></span></a>
      <a class="footer-social" href="https://twitter.com/" target="blank"><span
          class="fab fa-twitter-square fa-2x"></span></a>
      <a class="footer-social" href="https://www.instagram.com/" target="blank"><i class="fab fa-instagram fa-2x"></i></a>
    </div>
    <p class="copyright">© 2019 by Party Maker. All rights reserved. <br> <a download href="#" target="_blank">Cookie
        Policy, </a> Privacy Notice</p>
  </div>

</div>
